<br>
<div id="div-input" class="col-11 mb-3" (keyup)="pesquisar($event)">
  <input type="text" id="search-field" class="form-control" placeholder="pesquisar...">
</div>

<table class="table">
  <caption *ngIf="tarefas.length === 0">
    Nenhuma tarefa cadastrada.
</caption>
    <thead>
      <tr>
        <th (click)="ordenar()" class="ordenar-tarefa">
          Tarefa
          <i class="bi bi-sort-alpha-down" *ngIf="ascendente()"></i>
          <i class="bi bi-sort-alpha-down-alt" *ngIf="!ascendente()"></i>
        </th>
        <th scope="col">Concluída</th>
        <th scope="col" class="text-center"><button type="button" class="btn btn-success" [routerLink]="['/cadastrar']"><i class="bi bi-plus-circle"></i> Novo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarefa of tarefas">
        <td [ngClass]= "{'table-success': tarefa.concluido == false, concluido: tarefa.concluido}">{{ tarefa.nome }}</td>

        <td>
            <div class="form-check form-switch">
              <input
              class="form-check-input"
              type="checkbox"
              [checked]="tarefa.concluido"
              (click)="concluir(tarefa.id)"
              />
            </div>
        </td>
        <td class="text-center">
            <button
                type="button"
                class="btn btn-primary btn-sm"
                [routerLink]="['/editar/'+tarefa.id]"
            >
            <i class="bi bi-pencil-fill"></i> 
            Editar
            </button>
            &nbsp;
            <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="removerId(tarefa.id)"
          data-bs-toggle="modal"
          data-bs-target="#modalTarefa"
        >
          <i class="bi bi-x-lg"></i>
          Remover
        </button>
        </td>
      </tr>
    </tbody>
  </table>


<!-- Paginação -->
<nav>
  <ul class="pagination justify-content-center">
    <li 
    class="page-item" 
    [ngClass]="{ disabled: pagina === 0 }"
    >
      <a class="page-link" (click)="paginar($event, 0)">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    
    <li class="page-item" 
    *ngFor="let pag of obterPaginas()"
    [ngClass]="{ active: pag === pagina }"
    >
      <a class="page-link" (click)="paginar($event, pag)">{{ pag + 1 }}</a>
    </li>

    <li 
    class="page-item" 
    [ngClass]="{ disabled: pagina === numeroPaginas() - 1 }"
    >
      <a class="page-link" (click)="paginar($event, numeroPaginas() - 1)">
        <span aria-hidden="true">»</span>
      </a>
    </li>
  </ul>
</nav>


  <!-- Modal -->
<div
class="modal fade"
id="modalTarefa"
tabindex="-1"
data-bs-backdrop="static"
data-bs-keyboard="false"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modalTarefaLabel">Remover tarefa</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">Deseja remover {{tarefa.nome}}?</div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        (click)="remover()"
        data-bs-dismiss="modal"
      >
        Sim
      </button>
      <button type="button" class="btn btn-light" data-bs-dismiss="modal">
        Não
      </button>
    </div>
  </div>
</div>
</div>